# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#visual studio folder
*\.vs
/SortingComplexityTest/x64/Debug/SortingC.d38df27b.tlog/SortingComplexityTest.lastbuildstate
/SortingComplexityTest/x64/Debug/SortingComplexityTest.Build.CppClean.log
/SortingComplexityTest/x64/Debug/SortingComplexityTest.exe.recipe
/SortingComplexityTest/x64/Debug/SortingComplexityTest.vcxproj.FileListAbsolute.txt
/SortingComplexityTest/x64/Debug/SortingComplexityTest.exe.recipe
/SortingComplexityTest/x64/Debug/SortingC.d38df27b.tlog/SortingComplexityTest.lastbuildstate
